
# Package Files #
*.war
*.ear
*.class
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/
.recommendations/
.recommenders/
*.original

*.lst
*.properties

Company/sql/Untitled.sql
Company/Company-0.0.1-SNAPSHOT-jar-with-dependencies.jar

**/target
**/bin
**/.DS_Store

*.prefs
