*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/
.recommendations/
.recommenders/
*.original

*.lst

*.properties

Company/target/

alexa-skills-kit-java/

.DS_Store

EarningsLambda/src/META-INF/persistence.xml

Company/sql/Untitled.sql

Company/Company-0.0.1-SNAPSHOT-jar-with-dependencies.jar
/target/
